/**
 * Created on : 2014.08.24., 5:26:26
 * Author     : Lajos Molnar <lajax.m@gmail.com>
 */

#translates textarea {
    margin: 0 !important;
    max-width: 1000px !important;
    max-height: 1000px !important;
}

#translates.ar-AR textarea.translation {
    direction: rtl;
}

#translates td {
    width: 400px;
}
